:root{
    --bg-color1: #212529;
    --bg-color2: #2a2b2d;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    min-height: 100vh;
    background-color: var(--bg-color1);
    color: #fff;
    font-family: sans-serif;
    padding: 0 15px;
}